[package]
authors = ["Mathieu Rene <mathieu.rene@gmail.com>"]
edition = "2018"
name = "minidsp-daemon"
version = "0.1.2"
license = "Apache-2.0"

[[bin]]
name = "minidspd"
path = "src/main.rs"

[features]
default = ["serde", "strum", "schemars"]

[dependencies]
anyhow = "1.0.41"
bytes = "1.0.1"
clap = "3.0.0-beta.2"
confy = "0.4.0"
env_logger = "0.9.0"
futures = "0.3.16"
futures-sink = "0.3.15"
futures-util = "0.3.16"
hyper = "0.14.11"
hyper-tungstenite = "0.3.3"
lazy_static = "1.4.0"
log = "0.4.14"
minidsp = {path = "../minidsp"}
okapi = "0.6.0-alpha-1"
once_cell = "1.8.0"
routerify = "2.2.0"
routerify-query = "2.0.0"
schemars = {version = "0.8.3", optional = true}
serde = {version = "1.0.128", features = ["derive"], optional = true}
serde_json = "1.0.64"
strum = {version = "0.21.0", features = ["derive"], optional = true}
termcolor = "1.1.2"
thiserror = "1.0.26"
tokio-stream = {version = "0.1.7", features = ["sync"]}
tungstenite = "0.13.0" 
url2 = "0.0.6"

[dependencies.tokio]
features = ["rt-multi-thread", "net", "fs", "macros", "io-util"]
version = "1.9.0"

[dependencies.tokio-util]
features = ["net", "codec", "io"]
version = "0.6.7"

[target.'cfg(target_family="unix")'.dependencies]
hyperlocal = "0.8.0"
routerify-unixsocket = "0.1.1"
