[package]
authors = ["Mathieu Rene <mathieu.rene@gmail.com>"]
edition = "2018"
name = "minidsp-daemon"
version = "0.1.0-pre1"

[[bin]]
name="minidspd"
path="src/main.rs"

[features]
default = ["serde", "strum", "schemars"]

[dependencies]
anyhow = "1.0.40"
bytes = "1.0.1"
clap = "3.0.0-beta.2"
confy = "0.4.0"
env_logger = "0.8.3"
futures = "0.3.14"
futures-sink = "0.3.14"
futures-util = "0.3.14"
hyper = "0.14.7"
hyper-tungstenite = "0.3.0"
lazy_static = "1.4.0"
log = "0.4.14"
minidsp = {path = "../minidsp"}
okapi = "0.5.0-alpha-1"
once_cell = "1.7.2"
routerify = "2.0.1"
routerify-unixsocket = "0.1.1"
schemars = {version = "0.8.0", optional = true}
serde = {version = "1.0.125", features = ["derive"], optional = true}
serde_json = "1.0.64"
strum = {version = "0.20", features = ["derive"], optional = true}
tungstenite = "0.13.0"
termcolor = "1.1.2"
thiserror = "1.0.24"
url2 = "0.0.6"

[dependencies.tokio]
features = ["rt-multi-thread", "net", "fs", "macros", "io-util"]
version = "1.5.0"

[dependencies.tokio-util]
features = ["net", "codec", "io"]
version = "0.6.6"

[target.'cfg(target_family="unix")'.dependencies]
hyperlocal = "0.8.0"