[Unit]
Description=MiniDSP Server
After=network.target

[Service]
ExecStart=/usr/bin/minidspd --config /etc/minidsp/config.toml
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
