[Unit]
Description=MiniDSP Server
After=network.target

[Service]
ExecStart=/usr/local/bin/minidsp server
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
