name: Release build

on:
  push:
    branches:
      - 'msharc4x8'
    tags:
      - 'v0.*'
      - 'v1.*'
      - 'v2.*'
env:
  CARGO_TERM_COLOR: always
jobs:
  build_rpi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Setup cross environment
        run: docker build -t rpirust -f scripts/Dockerfile.rpi scripts/
      - name: Run build
        run: docker run --rm -v $(pwd):/src -w /src rpirust ./scripts/build-pi-armv6hf.sh deb
      - name: Copy debian package
        run: |
          cp -v target/arm-unknown-linux-gnueabihf/debian/${{ matrix.pair.bin }}* .
      - name: Upload debian package
        uses: actions/upload-artifact@v2.2.1
        with:
          name: arm-linux-gnueabihf-rpi-deb-artifact
          path: minidsp*.deb
          if-no-files-found: error
      - name: Create binary
        run: |
          mkdir archive
          cp target/arm-unknown-linux-gnueabihf/release/minidsp archive
          cd archive/
          tar -czf ../minidsp.arm-linux-gnueabihf-rpi.tar.gz *
      - name: Upload artifact
        uses: actions/upload-artifact@v2.2.1
        with:
          name: arm-linux-gnueabihf-rpi-artifact
          path: minidsp.arm-linux-gnueabihf-rpi.tar.gz
          if-no-files-found: error
  build_all:
    strategy:
      fail-fast: true
      matrix:
        pair:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            bin: minidsp
            cross: false
            archive: tar.gz
          - target: x86_64-apple-darwin
            os: macOS-latest
            bin: minidsp
            cross: false
            archive: tar.gz
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            bin: minidsp.exe
            cross: false
            archive: zip

    runs-on: ${{ matrix.pair.os }}
    env:
      CARGO_DEB_VER: 1.28.2

    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.pair.target }}
          override: true

      - name: Install native packages
        if: runner.os == 'Linux'
        run: sudo apt-get install libusb-1.0-0 libusb-1.0-0-dev

      # From https://github.com/NLnetLabs/krill/blob/master/.github/workflows/pkg.yml
      # Speed up cargo-deb installation by only re-downloading and re-building its
      # dependent crates if we change the version of cargo-deb that we are using.
      - name: Cache Cargo Deb binary
        if: runner.os == 'Linux'
        id: cache-cargo-deb
        uses: actions/cache@v2
        with:
          path: ~/.cargo/bin/cargo-deb
          key: ${{ matrix.pair.target }}-cargo-deb-${{ env.CARGO_DEB_VER }}

      # Only install cargo-deb if not already fetched from the cache.
      - name: Install Cargo Deb
        if: runner.os == 'Linux' && steps.cache-cargo-deb.outputs.cache-hit != 'true'
        run: |
          cargo install cargo-deb --version $CARGO_DEB_VER

      - uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ matrix.pair.cross }}
          command: build
          args: --bin minidsp --release --target ${{ matrix.pair.target }}

      - name: Create debian package
        if: runner.os == 'Linux'
        run: |
          cargo deb --target ${{ matrix.pair.target }}
          cp -v target/${{ matrix.pair.target }}/debian/${{ matrix.pair.bin }}* .

      - name: Upload debian package
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@v2.2.1
        with:
          name: ${{ matrix.pair.target }}-deb
          path: minidsp*.deb
          if-no-files-found: error

      - name: Create binary
        if: matrix.pair.archive == 'tar.gz'
        run: |
          mkdir archive
          cp target/${{ matrix.pair.target }}/release/${{ matrix.pair.bin }} archive
          cd archive/
          tar -czf ../minidsp.${{ matrix.pair.target }}.tar.gz *

      - name: Create binary
        if: matrix.pair.archive == 'zip'
        run: |
          mkdir archive
          cp target/${{ matrix.pair.target }}/release/${{ matrix.pair.bin }} archive
          cd archive/
          compress-archive ${{ matrix.pair.bin }} ../minidsp.${{ matrix.pair.target }}.zip

      - name: Upload artifact
        uses: actions/upload-artifact@v2.2.1
        with:
          name: ${{ matrix.pair.target }}-artifact
          path: minidsp.${{ matrix.pair.target }}.${{ matrix.pair.archive }}
          if-no-files-found: error

  # release:
  #   runs-on: ubuntu-latest
  #   needs: [build_all, build_rpi]
  #   steps:
  #     - uses: actions/checkout@v2.3.4

  #     - name: Download all artifacts
  #       uses: actions/download-artifact@v2
  #       with:
  #         path: artifacts

  #     - name: List artifacts
  #       run: |
  #         ls -R artifacts/**/*
  #     - name: Create release with artifacts
  #       run: |
  #         set -x
  #         assets=()
  #         for asset in ./artifacts/*/*.{tar.gz,zip,deb}; do
  #           assets+=("-a" "$asset")
  #         done
  #         TAG="${GITHUB_REF##*/}"
  #         hub release create "${assets[@]}" --draft --message "$TAG" "$TAG"
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
